certifi
chardet==3.0.4
conda==4.3.16
conda-autoenv==0.1
Django==2.0.6
django-summernote==0.8.8.8
idna==2.7
mysqlclient
pycosat==0.6.3
pytz==2018.4
requests==2.19.1
ruamel.yaml==0.15.40
urllib3==1.23
django-allauth==0.37.1
django-jet
google-api-python-client==1.4.1