{% load static %}
<head>
    <link rel="icon" href="{% static "favicon.ico" %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static "favicon.ico" %}" type="image/x-icon">
    <title>KWAN</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="kwanhee, 관희, 한관희, Kwanhee, KwanHee, KwanheeHan, python, 파이썬, 웹개발, java, spring, 자바, 스프링, 장고, django, 개발자, 프로그래밍, programming, web, 서버, server, linux, ubuntu, centos, mysql, database, 데이터베이스, 우분투, 리눅스" />
    <meta name="description" content="서버개발노트"/>
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://kwanhee.me/">
    <meta property="og:title" content="KWAN">
    <meta property="og:description" content="서버개발노트">
    <meta property="og:image" content="{% static 'images/og_image.png' %}">
    <meta property="og:image:secure_url" content="{% static '/images/KH_default.png' %}" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="560" />
    <meta property="og:image:height" content="280" />
    <link rel="stylesheet" href={% static "assets/css/main.css" %} />
    <link rel="stylesheet" href={% static "css/base.css" %} />

    <!-- Scripts -->
    <!-- FB <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '538473486584838',
          xfbml      : true,
          version    : 'v3.1'
        });
        FB.AppEvents.logPageView();
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
          FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });

        function checkLoginState() {
          FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
          });
        }
    </script> -->
    <script src={% static "assets/js/jquery.min.js" %}></script>
    <script src={% static "assets/js/skel.min.js" %}></script>
    <script src={% static "assets/js/util.js" %}></script>
    <script src={% static "assets/js/main.js" %}></script>

    <!--[if lte IE 9]><link rel="stylesheet" href={% static "assets/css/ie9.css" %} /><![endif]-->
    <!--[if lte IE 8]><script src={% static "assets/js/ie/html5shiv.js" %}></script><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href={% static "assets/css/ie8.css" %} /><![endif]-->
    <!--[if lte IE 8]><script src={% static "assets/js/ie/respond.min.js" %}></script><![endif]-->

    <!-- Google Analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131348005-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-131348005-1');
    </script>

    <!-- Google Adsense -->
    <!--<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-1832576663514975",
        enable_page_level_ads: true
      });
    </script>-->
</head>