<!-- Menu -->
    <section id="menu">

        <!-- Search -->
            <section>
                <form class="search" method="get" action="#">
                    <input type="text" name="query" placeholder="Search" />
                </form>
            </section>

        <!-- Links -->
            <section>
                <ul class="links">
                    <li>
                        <a href="#">
                            <h3>Home</h3>
                            <p>Read recently posts</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h3>Post</h3>
                            <p>You can see list of all posts</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h3>Introduction</h3>
                            <p>Who am i</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h3>contact</h3>
                            <p>if you want to work with me</p>
                        </a>
                    </li>
                </ul>
            </section>

        <!-- Actions -->
            <section>
                <ul class="actions vertical">
                    <li><a href="#" class="button big fit">Log In</a></li>
                </ul>
            </section>

    </section>
