{% load static %}
<!-- Menu -->
    <section id="menu">
        <!-- Search -->
            <section>
                <form class="search" method="get" action="#">{% csrf_token %}
                    <input type="text" name="query" class="searchbar"/>
                </form>
            </section>

        <!-- Links -->
            <section>
                <ul class="links">
                    <li>
                        <a href="/">
                            <h3>Post</h3>
                            <p>You can see list of all posts</p>
                        </a>
                    </li>
                    <li>
                        <a href="/intro">
                            <h3>Introduction</h3>
                            <p>Who am i</p>
                        </a>
                    </li>
                    <li>
                        <a href="/contact">
                            <h3>Contact</h3>
                            <p>if you want to work with me</p>
                        </a>
                    </li>
                    <li>
                        <a href="/game">
                            <h3>Game</h3>
                            <p>Let's play a Game</p>
                        </a>
                    </li>
                    <li>
                        {% if user.is_authenticated %}
                        <a href="/write">
                            <h3>Write</h3>
                            <p>write post</p>
                        </a>
                        {% endif %}
                    </li>
                </ul>
            </section>

        <!-- Actions -->
            <section>
                <ul class="actions vertical">
                    {% if user.is_authenticated %}
                        <li><a href="/accounts/logout/" class="button big fit">Log OUT</a></li>
                    {% else %}
                        <li><a href="/accounts/kakao/login/" class="button big fit">Log In</a></li>
                    {% endif %}
                </ul>
            </section>

    </section>
