{% load static %}
<!-- Sidebar -->
                <section id="sidebar">

                    <!-- Intro -->
                        <section id="intro">
                            <a href="/post" class="logo"><img src={% static 'images/avatar.jpg' %} /></a>
                            <header>
                                <a href="/post"><h2 class="page_title">KWANHEE HAN</h2></a>
                                <p>The server developer</p>
                            </header>
                        </section>

                    <!-- Mini Posts -->
                    <h3><div class="sub_title">POPULAR POSTS</div></h3>
                        <section>
                            <div class="mini-posts">
                                <!-- Mini Post -->
                                {% for contents in side_popular_contents_list %}
                                    <article class="mini-post">
                                        <header>
                                            <h3><a href="/view/?id={{contents.id}}">{{ contents.title }}</a></h3>
                                            <time class="published" datetime="2015-10-20">{{ contents.write_date }}</time>
                                            <a href="/accounts/profile/?user_id={{ contents.user_id }}" class="author"><img src={{ contents.profile_image }} alt="" width="40px" height="40px"/></a>
                                        </header>
                                        {% if contents.thumbnail != "" %}
                                        <a href="/view/?id={{contents.id}}" class="image"><img src="/static/{{ contents.thumbnail }}" alt="" /></a>
                                        {% else %}
                                        <a href="/view/?id={{contents.id}}" class="image"><img src="/static/images/KH_default.png" alt="" /></a>
                                        {% endif %}
                                    </article>
                                {% endfor %}
                            </div>
                        </section>

                    <!-- Posts List -->
                    <h3><div class="sub_title">LATEST POSTS</div></h3>
                        <section>
                            <ul class="posts">
                                {% for content in side_latest_contents_list %}
                                <li>
                                    <article>
                                        <header>
                                            <h3><a href="/view/?id={{content.id}}">{{ content.title }}</a></h3>
                                            <time class="published" datetime="2015-10-20">{{ content.write_date }}</time>
                                        </header>
                                        {% if content.thumbnail != "" %}
                                        <a href="/view/?id={{content.id}}" class="image"><img src="/static/{{ content.thumbnail }}" alt="" /></a>
                                        {% else %}
                                        <a href="/view/?id={{content.id}}" class="image"><img src="/static/images/KH_default.png" alt="" /></a>
                                        {% endif %}
                                    </article>
                                </li>
                                {% endfor %}
                            </ul>
                        </section>

                    <!-- About -->
                        <section class="blurb">
                            <h2>Career</h2>
                            <p>2018.02.26 ~ <br>SERVER DEVELOPER in AIM Cooperation</p>
                            <ul class="actions">
                                <li><a href="/contact" class="button">CONTACT ME</a></li>
                            </ul>
                        </section>

                    <!-- Footer -->
                        {% include 'base/footer.html' %}
                </section>