{% load static %}
<link media="screen" rel="stylesheet" type="text/css" href={% static 'assets/css/graph.css' %}/>

<style>
.whole_wrap {
    margin-top:5%;
}
</style>

<section class="js-slide index-section index-section-center-sm whole_wrap">
    <div class="container-wrapper-sm">
        <div class="container relative">
            <div class="future-you-graph">

                <div class="future-you-graph__content">
                    <h2 class="future-you-graph__header">자산 추이 예측</h2>
                    <div class="p2 paginated-paragraphs-paragraph-text">
                        에임과 함께 하면 어떻게 될까요?

                        <!--<a class="bubble-trigger">
                            <div class="bubble bubble-bottom animated tiny">
                                This chart shows the impact of compounding - actual returns will be different. We've
                                assumed markets will go up by an average of 5.5% per year and the portfolio allocation
                                stays the same. Wealthsimple charges a 0.5% management fee and the ETFs charge about
                                0.2%, while a traditional mutual fund investor pays 2%. We used the current GIC interest
                                rates to calculate a rate of return for savings accounts.
                            </div>
                            <span class="bubble-word">grow</span>
                        </a>-->
                    </div>

                    <div class='future-you-graph__sliders-and-compare-values'>
                        <div class='future-you-graph__slider-group'>
                            <label class="future-you-graph__slider future-you-graph__slider--starting-investment">
                                <div class="mb-10-md future-you-graph__slider__labels">
                                    <span class="future-you-graph__slider__title">초기투자금</span>
                                    <span class="js-graph-starting-investment-sum future-you-graph__slider__amount">1000</span>
                                </div>
                                <div class="graph-slider-container">
                                    <input type="range"
                                           class="js-graph-starting-investment graph-slider"
                                           name="starting-investment"
                                           min="500"
                                           value="50000"
                                           max="1000000"
                                           step="5000"
                                           range='{ "80%": [100000, 100000] }'>
                                </div>
                            </label>
                            <label class="future-you-graph__slider future-you-graph__slider--monthly-deposit">
                                <div class="mb-10-md future-you-graph__slider__labels">
                                    <span class="future-you-graph__slider__title">정기투자금</span>
                                    <span class="js-graph-monthly-deposit-sum future-you-graph__slider__amount">1000</span>
                                </div>
                                <div class="graph-slider-container">
                                    <input type="range"
                                           class="js-graph-monthly-deposit graph-slider"
                                           name="monthly-deposit"
                                           min="25"
                                           value="1000"
                                           max="25000"
                                           step="50"
                                           range='{ "50%": [1000, 500] }'>
                                </div>
                            </label>
                            <label class="future-you-graph__slider future-you-graph__slider--risk-level">
                                <div class="mb-10-md future-you-graph__slider__labels">
                                    <span class="future-you-graph__slider__title">위험감내수준</span>
                                    <span class="js-value--risk-level future-you-graph__slider__amount">5</span>
                                </div>
                                <div class="graph-slider-container">
                                    <input type="range"
                                           class="js-slider-risk-level graph-slider"
                                           name="risk-level"
                                           min="1"
                                           value="7"
                                           max="10"
                                           step="1">
                                </div>
                            </label>
                        </div>
                        <div class='future-you-graph__vertical-divider hide-small'>
                            <div class='future-you-graph__vertical-divider__inner'></div>
                        </div>
                        <div class='future-you-graph__compare-value-group future-you-graph__compare-value-group--desktop hide-small'>
                            <label class="future-you-graph__compare-value future-you-graph__compare-value--ws">
                                <div class="future-you-graph__compare-value__legend-color"></div>
                                <div class="u-flexColumn">
                                    <div class="future-you-graph__compare-value__title">에임</div>
                                    <div class="future-you-graph__compare-value__value u-flexRow">
                                        <div class="js-value--wealthsimple-worst-case">1000</div>
                                        <div class="future-you-graph__compare-value__dash">-</div>
                                        <div class="js-wealthsimple-value">1000</div>
                                    </div>
                                </div>
                            </label>
                            <label class="future-you-graph__compare-value future-you-graph__compare-value--traditional-advisor">
                                <div class="future-you-graph__compare-value__legend-color"></div>
                                <div class="u-flexColumn">
                                    <div class="future-you-graph__compare-value__title">단순투자</div>
                                    <div class="future-you-graph__compare-value__value u-flexRow">
                                        <div class="js-value--traditional-advisor-worst-case">1000</div>
                                        <div class="future-you-graph__compare-value__dash">-</div>
                                        <div class="js-traditional-value">1000</div>
                                    </div>
                                </div>
                            </label>
                            <label class="future-you-graph__compare-value future-you-graph__compare-value--bank hide-small">
                                <div class="future-you-graph__compare-value__legend-color"></div>
                                <div class="u-flexColumn">
                                    <div class="future-you-graph__compare-value__title">예적금</div>
                                    <div class="js-bank-value future-you-graph__compare-value__value">
                                        1000
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="future-you-graph__graph-container relative">
                    <div class='future-you-graph__compare-value-group future-you-graph__compare-value-group--mobile hide-lg hide-md'>
                        <label class="future-you-graph__compare-value future-you-graph__compare-value--ws">
                            <div class="future-you-graph__compare-value__legend-color"></div>
                            <div class="u-flexColumn">
                                <div class="future-you-graph__compare-value__title">에임</div>
                                <div class="future-you-graph__compare-value__value u-flexRow">
                                    <div class="js-value--wealthsimple-worst-case">1000</div>
                                    <div class="future-you-graph__compare-value__dash">-</div>
                                    <div class="js-wealthsimple-value">1000</div>
                                </div>
                            </div>
                        </label>
                        <label class="future-you-graph__compare-value future-you-graph__compare-value--traditional-advisor">
                            <div class="future-you-graph__compare-value__legend-color"></div>
                            <div class="u-flexColumn">
                                <div class="future-you-graph__compare-value__title">단순투자</div>
                                <div class="future-you-graph__compare-value__value u-flexRow">
                                    <div class="js-value--traditional-advisor-worst-case">1000</div>
                                    <div class="future-you-graph__compare-value__dash">-</div>
                                    <div class="js-traditional-value">1000</div>
                                </div>
                            </div>
                        </label>
                    </div>
                    <div class="future-you-graph__svg"></div>
                    <div class="future-you-graph__overlay"></div>
                </div>

                <div class="future-you-graph__disclaimer paginated-paragraphs-paragraph-text">

                </div>

                <!--<div class="hide-md hide-lg">
                    <a href="https://my.wealthsimple.com/signup?locale=en-ca"
                       class="future-you-graph__cta button inline-block fade js-fade cta-button js-start-investing-button"
                       data-fade-delay="1400">Start investing</a>
                </div>-->
            </div>

        </div>
    </div>
</section>


<script type="text/javascript" src={% static 'assets/js/vendor.js' %}></script>
<script defer='defer' async='true' type="text/javascript" src={% static 'assets/js/application.js' %}></script>
