{% load static %}
<link media="screen" rel="stylesheet" type="text/css" href={% static 'assets/css/graph.css' %}/>

<script>
    // Cleans up telemetry events by removing noise and obfuscating user inputs.
    function cleanUpTelemetry(payload) {
        payload.body.telemetry = payload.body.telemetry
        // Suppress segment and mixpanel noise from the Telemetry.
            .filter(isNotAnalyticsXhr)
            .map(function (event) {
                if (event.type === 'dom' &&
                    event.body.subtype === 'input' &&
                    event.body.value) {
                    var unObfuscatedPrefix = event.body.value.substring(0, 3);
                    var obfuscatedContent = event.body.value.substring(3);
                    event.body.value = unObfuscatedPrefix + obfuscatedContent.replace(/([a-zA-Z0-9])/g, '*');
                }

                return event;
            });
    }

    function isNotAnalyticsXhr(event) {
        if (event.type !== 'network') {
            return true;
        }

        const url = event && event.body && event.body.url ? event.body.url : '';
        return !url.startsWith('https://api.mixpanel.com') &&
            !url.startsWith('https://api.segment.io');
    }

    var _rollbarConfig = {
        accessToken: '0acf0502cf014b0d93a731b69e605667',
        captureUncaught: true,
        captureUnhandledRejections: true,
        transform: cleanUpTelemetry,
        payload: {
            environment: "production",
        },
    };
    // Rollbar Snippet
    !function (r) {
        function e(n) {
            if (o[n]) return o[n].exports;
            var t = o[n] = {exports: {}, id: n, loaded: !1};
            return r[n].call(t.exports, t, t.exports, e), t.loaded = !0, t.exports
        }

        var o = {};
        return e.m = r, e.c = o, e.p = "", e(0)
    }([function (r, e, o) {
        "use strict";
        var n = o(1), t = o(4);
        _rollbarConfig = _rollbarConfig || {}, _rollbarConfig.rollbarJsUrl = _rollbarConfig.rollbarJsUrl || "https://cdnjs.cloudflare.com/ajax/libs/rollbar.js/2.3.9/rollbar.min.js", _rollbarConfig.async = void 0 === _rollbarConfig.async || _rollbarConfig.async;
        var a = n.setupShim(window, _rollbarConfig), l = t(_rollbarConfig);
        window.rollbar = n.Rollbar, a.loadFull(window, document, !_rollbarConfig.async, _rollbarConfig, l)
    }, function (r, e, o) {
        "use strict";

        function n(r) {
            return function () {
                try {
                    return r.apply(this, arguments)
                } catch (r) {
                    try {
                        console.error("[Rollbar]: Internal error", r)
                    } catch (r) {
                    }
                }
            }
        }

        function t(r, e) {
            this.options = r, this._rollbarOldOnError = null;
            var o = s++;
            this.shimId = function () {
                return o
            }, "undefined" != typeof window && window._rollbarShims && (window._rollbarShims[o] = {
                handler: e,
                messages: []
            })
        }

        function a(r, e) {
            if (r) {
                var o = e.globalAlias || "Rollbar";
                if ("object" == typeof r[o]) return r[o];
                r._rollbarShims = {}, r._rollbarWrappedError = null;
                var t = new p(e);
                return n(function () {
                    e.captureUncaught && (t._rollbarOldOnError = r.onerror, i.captureUncaughtExceptions(r, t, !0), i.wrapGlobals(r, t, !0)), e.captureUnhandledRejections && i.captureUnhandledRejections(r, t, !0);
                    var n = e.autoInstrument;
                    return e.enabled !== !1 && (void 0 === n || n === !0 || "object" == typeof n && n.network) && r.addEventListener && (r.addEventListener("load", t.captureLoad.bind(t)), r.addEventListener("DOMContentLoaded", t.captureDomContentLoaded.bind(t))), r[o] = t, t
                })()
            }
        }

        function l(r) {
            return n(function () {
                var e = this, o = Array.prototype.slice.call(arguments, 0),
                    n = {shim: e, method: r, args: o, ts: new Date};
                window._rollbarShims[this.shimId()].messages.push(n)
            })
        }

        var i = o(2), s = 0, d = o(3), c = function (r, e) {
            return new t(r, e)
        }, p = d.bind(null, c);
        t.prototype.loadFull = function (r, e, o, t, a) {
            var l = function () {
                var e;
                if (void 0 === r._rollbarDidLoad) {
                    e = new Error("rollbar.js did not load");
                    for (var o, n, t, l, i = 0; o = r._rollbarShims[i++];) for (o = o.messages || []; n = o.shift();) for (t = n.args || [], i = 0; i < t.length; ++i) if (l = t[i], "function" == typeof l) {
                        l(e);
                        break
                    }
                }
                "function" == typeof a && a(e)
            }, i = !1, s = e.createElement("script"), d = e.getElementsByTagName("script")[0], c = d.parentNode;
            s.crossOrigin = "", s.src = t.rollbarJsUrl, o || (s.async = !0), s.onload = s.onreadystatechange = n(function () {
                if (!(i || this.readyState && "loaded" !== this.readyState && "complete" !== this.readyState)) {
                    s.onload = s.onreadystatechange = null;
                    try {
                        c.removeChild(s)
                    } catch (r) {
                    }
                    i = !0, l()
                }
            }), c.insertBefore(s, d)
        }, t.prototype.wrap = function (r, e, o) {
            try {
                var n;
                if (n = "function" == typeof e ? e : function () {
                    return e || {}
                }, "function" != typeof r) return r;
                if (r._isWrap) return r;
                if (!r._rollbar_wrapped && (r._rollbar_wrapped = function () {
                    o && "function" == typeof o && o.apply(this, arguments);
                    try {
                        return r.apply(this, arguments)
                    } catch (o) {
                        var e = o;
                        throw"string" == typeof e && (e = new String(e)), e._rollbarContext = n() || {}, e._rollbarContext._wrappedSource = r.toString(), window._rollbarWrappedError = e, e
                    }
                }, r._rollbar_wrapped._isWrap = !0, r.hasOwnProperty)) for (var t in r) r.hasOwnProperty(t) && (r._rollbar_wrapped[t] = r[t]);
                return r._rollbar_wrapped
            } catch (e) {
                return r
            }
        };
        for (var u = "log,debug,info,warn,warning,error,critical,global,configure,handleUncaughtException,handleUnhandledRejection,captureEvent,captureDomContentLoaded,captureLoad".split(","), f = 0; f < u.length; ++f) t.prototype[u[f]] = l(u[f]);
        r.exports = {setupShim: a, Rollbar: p}
    }, function (r, e) {
        "use strict";

        function o(r, e, o) {
            if (r) {
                var t;
                "function" == typeof e._rollbarOldOnError ? t = e._rollbarOldOnError : r.onerror && !r.onerror.belongsToShim && (t = r.onerror, e._rollbarOldOnError = t);
                var a = function () {
                    var o = Array.prototype.slice.call(arguments, 0);
                    n(r, e, t, o)
                };
                a.belongsToShim = o, r.onerror = a
            }
        }

        function n(r, e, o, n) {
            r._rollbarWrappedError && (n[4] || (n[4] = r._rollbarWrappedError), n[5] || (n[5] = r._rollbarWrappedError._rollbarContext), r._rollbarWrappedError = null), e.handleUncaughtException.apply(e, n), o && o.apply(r, n)
        }

        function t(r, e, o) {
            if (r) {
                "function" == typeof r._rollbarURH && r._rollbarURH.belongsToShim && r.removeEventListener("unhandledrejection", r._rollbarURH);
                var n = function (r) {
                    var o, n, t;
                    try {
                        o = r.reason
                    } catch (r) {
                        o = void 0
                    }
                    try {
                        n = r.promise
                    } catch (r) {
                        n = "[unhandledrejection] error getting `promise` from event"
                    }
                    try {
                        t = r.detail, !o && t && (o = t.reason, n = t.promise)
                    } catch (r) {
                        t = "[unhandledrejection] error getting `detail` from event"
                    }
                    o || (o = "[unhandledrejection] error getting `reason` from event"), e && e.handleUnhandledRejection && e.handleUnhandledRejection(o, n)
                };
                n.belongsToShim = o, r._rollbarURH = n, r.addEventListener("unhandledrejection", n)
            }
        }

        function a(r, e, o) {
            if (r) {
                var n, t,
                    a = "EventTarget,Window,Node,ApplicationCache,AudioTrackList,ChannelMergerNode,CryptoOperation,EventSource,FileReader,HTMLUnknownElement,IDBDatabase,IDBRequest,IDBTransaction,KeyOperation,MediaController,MessagePort,ModalWindow,Notification,SVGElementInstance,Screen,TextTrack,TextTrackCue,TextTrackList,WebSocket,WebSocketWorker,Worker,XMLHttpRequest,XMLHttpRequestEventTarget,XMLHttpRequestUpload".split(",");
                for (n = 0; n < a.length; ++n) t = a[n], r[t] && r[t].prototype && l(e, r[t].prototype, o)
            }
        }

        function l(r, e, o) {
            if (e.hasOwnProperty && e.hasOwnProperty("addEventListener")) {
                for (var n = e.addEventListener; n._rollbarOldAdd && n.belongsToShim;) n = n._rollbarOldAdd;
                var t = function (e, o, t) {
                    n.call(this, e, r.wrap(o), t)
                };
                t._rollbarOldAdd = n, t.belongsToShim = o, e.addEventListener = t;
                for (var a = e.removeEventListener; a._rollbarOldRemove && a.belongsToShim;) a = a._rollbarOldRemove;
                var l = function (r, e, o) {
                    a.call(this, r, e && e._rollbar_wrapped || e, o)
                };
                l._rollbarOldRemove = a, l.belongsToShim = o, e.removeEventListener = l
            }
        }

        r.exports = {captureUncaughtExceptions: o, captureUnhandledRejections: t, wrapGlobals: a}
    }, function (r, e) {
        "use strict";

        function o(r, e) {
            this.impl = r(e, this), this.options = e, n(o.prototype)
        }

        function n(r) {
            for (var e = function (r) {
                return function () {
                    var e = Array.prototype.slice.call(arguments, 0);
                    if (this.impl[r]) return this.impl[r].apply(this.impl, e)
                }
            }, o = "log,debug,info,warn,warning,error,critical,global,configure,handleUncaughtException,handleUnhandledRejection,_createItem,wrap,loadFull,shimId,captureEvent,captureDomContentLoaded,captureLoad".split(","), n = 0; n < o.length; n++) r[o[n]] = e(o[n])
        }

        o.prototype._swapAndProcessMessages = function (r, e) {
            this.impl = r(this.options);
            for (var o, n, t; o = e.shift();) n = o.method, t = o.args, this[n] && "function" == typeof this[n] && ("captureDomContentLoaded" === n || "captureLoad" === n ? this[n].apply(this, [t[0], o.ts]) : this[n].apply(this, t));
            return this
        }, r.exports = o
    }, function (r, e) {
        "use strict";
        r.exports = function (r) {
            return function (e) {
                if (!e && !window._rollbarInitialized) {
                    r = r || {};
                    for (var o, n, t = r.globalAlias || "Rollbar", a = window.rollbar, l = function (r) {
                        return new a(r)
                    }, i = 0; o = window._rollbarShims[i++];) n || (n = o.handler), o.handler._swapAndProcessMessages(l, o.messages);
                    window[t] = n, window._rollbarInitialized = !0
                }
            }
        }
    }]);
    // End Rollbar Snippet
</script>

<style>
.whole_wrap {
    margin-top:5%;
}
</style>
<section class="js-slide index-section index-section-center-sm whole_wrap">
    <div class="container-wrapper-sm">
        <div class="container relative">
            <div class="future-you-graph">

                <div class="future-you-graph__content">
                    <h2 class="future-you-graph__header">자산 추이 예측</h2>
                    <div class="p2 paginated-paragraphs-paragraph-text">
                        에임과 함께 하면 어떻게 될까요?

                        <!--<a class="bubble-trigger">
                            <div class="bubble bubble-bottom animated tiny">
                                This chart shows the impact of compounding - actual returns will be different. We've
                                assumed markets will go up by an average of 5.5% per year and the portfolio allocation
                                stays the same. Wealthsimple charges a 0.5% management fee and the ETFs charge about
                                0.2%, while a traditional mutual fund investor pays 2%. We used the current GIC interest
                                rates to calculate a rate of return for savings accounts.
                            </div>
                            <span class="bubble-word">grow</span>
                        </a>-->
                    </div>

                    <div class='future-you-graph__sliders-and-compare-values'>
                        <div class='future-you-graph__slider-group'>
                            <label class="future-you-graph__slider future-you-graph__slider--starting-investment">
                                <div class="mb-10-md future-you-graph__slider__labels">
                                    <span class="future-you-graph__slider__title">초기투자금</span>
                                    <span class="js-graph-starting-investment-sum future-you-graph__slider__amount">1000</span>
                                </div>
                                <div class="graph-slider-container">
                                    <input type="range"
                                           class="js-graph-starting-investment graph-slider"
                                           name="starting-investment"
                                           min="500"
                                           value="50000"
                                           max="1000000"
                                           step="5000"
                                           range='{ "80%": [100000, 100000] }'>
                                </div>
                            </label>
                            <label class="future-you-graph__slider future-you-graph__slider--monthly-deposit">
                                <div class="mb-10-md future-you-graph__slider__labels">
                                    <span class="future-you-graph__slider__title">정기투자금</span>
                                    <span class="js-graph-monthly-deposit-sum future-you-graph__slider__amount">1000</span>
                                </div>
                                <div class="graph-slider-container">
                                    <input type="range"
                                           class="js-graph-monthly-deposit graph-slider"
                                           name="monthly-deposit"
                                           min="25"
                                           value="1000"
                                           max="25000"
                                           step="50"
                                           range='{ "50%": [1000, 500] }'>
                                </div>
                            </label>
                            <label class="future-you-graph__slider future-you-graph__slider--risk-level">
                                <div class="mb-10-md future-you-graph__slider__labels">
                                    <span class="future-you-graph__slider__title">위험감내수준</span>
                                    <span class="js-value--risk-level future-you-graph__slider__amount">5</span>
                                </div>
                                <div class="graph-slider-container">
                                    <input type="range"
                                           class="js-slider-risk-level graph-slider"
                                           name="risk-level"
                                           min="1"
                                           value="7"
                                           max="10"
                                           step="1">
                                </div>
                            </label>
                        </div>
                        <div class='future-you-graph__vertical-divider hide-small'>
                            <div class='future-you-graph__vertical-divider__inner'></div>
                        </div>
                        <div class='future-you-graph__compare-value-group future-you-graph__compare-value-group--desktop hide-small'>
                            <label class="future-you-graph__compare-value future-you-graph__compare-value--ws">
                                <div class="future-you-graph__compare-value__legend-color"></div>
                                <div class="u-flexColumn">
                                    <div class="future-you-graph__compare-value__title">에임</div>
                                    <div class="future-you-graph__compare-value__value u-flexRow">
                                        <div class="js-value--wealthsimple-worst-case">1000</div>
                                        <div class="future-you-graph__compare-value__dash">-</div>
                                        <div class="js-wealthsimple-value">1000</div>
                                    </div>
                                </div>
                            </label>
                            <label class="future-you-graph__compare-value future-you-graph__compare-value--traditional-advisor">
                                <div class="future-you-graph__compare-value__legend-color"></div>
                                <div class="u-flexColumn">
                                    <div class="future-you-graph__compare-value__title">단순투자</div>
                                    <div class="future-you-graph__compare-value__value u-flexRow">
                                        <div class="js-value--traditional-advisor-worst-case">1000</div>
                                        <div class="future-you-graph__compare-value__dash">-</div>
                                        <div class="js-traditional-value">1000</div>
                                    </div>
                                </div>
                            </label>
                            <label class="future-you-graph__compare-value future-you-graph__compare-value--bank hide-small">
                                <div class="future-you-graph__compare-value__legend-color"></div>
                                <div class="u-flexColumn">
                                    <div class="future-you-graph__compare-value__title">예적금</div>
                                    <div class="js-bank-value future-you-graph__compare-value__value">
                                        1000
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="future-you-graph__graph-container relative">
                    <div class='future-you-graph__compare-value-group future-you-graph__compare-value-group--mobile hide-lg hide-md'>
                        <label class="future-you-graph__compare-value future-you-graph__compare-value--ws">
                            <div class="future-you-graph__compare-value__legend-color"></div>
                            <div class="u-flexColumn">
                                <div class="future-you-graph__compare-value__title">에임</div>
                                <div class="future-you-graph__compare-value__value u-flexRow">
                                    <div class="js-value--wealthsimple-worst-case">1000</div>
                                    <div class="future-you-graph__compare-value__dash">-</div>
                                    <div class="js-wealthsimple-value">1000</div>
                                </div>
                            </div>
                        </label>
                        <label class="future-you-graph__compare-value future-you-graph__compare-value--traditional-advisor">
                            <div class="future-you-graph__compare-value__legend-color"></div>
                            <div class="u-flexColumn">
                                <div class="future-you-graph__compare-value__title">단순투자</div>
                                <div class="future-you-graph__compare-value__value u-flexRow">
                                    <div class="js-value--traditional-advisor-worst-case">1000</div>
                                    <div class="future-you-graph__compare-value__dash">-</div>
                                    <div class="js-traditional-value">1000</div>
                                </div>
                            </div>
                        </label>
                    </div>
                    <div class="future-you-graph__svg"></div>
                    <div class="future-you-graph__overlay"></div>
                </div>

                <div class="future-you-graph__disclaimer paginated-paragraphs-paragraph-text">

                </div>

                <!--<div class="hide-md hide-lg">
                    <a href="https://my.wealthsimple.com/signup?locale=en-ca"
                       class="future-you-graph__cta button inline-block fade js-fade cta-button js-start-investing-button"
                       data-fade-delay="1400">Start investing</a>
                </div>-->
            </div>

        </div>
    </div>
</section>


<script type="text/javascript" src={% static 'assets/js/vendor.js' %}></script>
<script defer='defer' async='true' type="text/javascript" src={% static 'assets/js/application.js' %}></script>
