{% include 'base/base.html' %}
<body>
    <!-- Wrapper -->
        <div id="wrapper">
            <!-- Header -->
            {% include 'base/header.html' %}
            <!-- Menu -->
            {% include 'base/menu.html' %}
            <!-- Main -->
                <div id="main">
                    <article class="post">
                    <!-- Post -->
                        <div id="chat">
                            <object type="text/html" data="https://chat.kwanhee.me" style="width:100%; height:100%"></object>
                        </div>
                    </article>
                </div>
        {% include 'base/side.html' %}
        </div>
</body>
