{% load static %}
{% include 'base/base.html' %}
<body>
    <!-- Wrapper -->
        <div id="wrapper">
            <!-- Header -->
            {% include 'base/header.html' %}
            <!-- Menu -->
            {% include 'base/menu.html' %}
            <!-- Main -->
                <div id="main">
                    {% for content in contents_list.post_data %}
                    <!-- Post -->
                        <article class="post">
                            <header>
                                <div class="title">
                                    <h2><a href="/view/?id={{ content.id }}">{{ content.title }}</a></h2>
                                    <p>{{ content.sub_title }}</p>
                                </div>
                                <div class="meta">
                                    <time class="published" datetime="2015-11-01">{{ content.write_date }}</time>
                                    <a href="#" class="author"><span class="name">KWAN</span><img src={% static 'images/avatar.jpg' %} alt="" /></a>
                                </div>
                            </header>
                            <a href="/view/?id={{ content.id }}" class="image featured"><img src={% static 'images/pic01.jpg' %} alt="" /></a>
                            <p>{{ content.context|safe|linebreaksbr }}</p>
                            <footer>
                                <ul class="actions">
                                    <li><a href="/view/?id={{ content.id }}" class="button big">Continue Reading</a></li>
                                </ul>
                                <ul class="stats">
                                    <li><a href="#">General</a></li>
                                    <li><a href="#" class="icon fa-heart">28</a></li>
                                    <li><a href="#" class="icon fa-comment">128</a></li>
                                </ul>
                            </footer>
                        </article>
                    {% endfor %}

                    <!-- Pagination -->
                        <ul class="actions pagination">
                            <li><a href="" class="disabled button big previous">Previous Page</a></li>
                            <li><a href="#" class="button big next">Next Page</a></li>
                        </ul>

                </div>

            <!-- Sidebar -->
                <section id="sidebar">

                    <!-- Intro -->
                        <section id="intro">
                            <a href="#" class="logo"><img src={% static 'images/logo.jpg' %} /></a>
                            <header>
                                <h2>KWANHEE HAN</h2>
                                <p>The best server developer</p>
                            </header>
                        </section>

                    <!-- Mini Posts -->
                        <section>
                            <div class="mini-posts">
                                <!-- Mini Post -->
                                    <article class="mini-post">
                                        <header>
                                            <h3><a href="/view/">Vitae sed condimentum</a></h3>
                                            <time class="published" datetime="2015-10-20">October 20, 2015</time>
                                            <a href="#" class="author"><img src={% static 'images/avatar.jpg' %} alt="" /></a>
                                        </header>
                                        <a href="/view/" class="image"><img src={% static 'images/pic04.jpg' %} alt="" /></a>
                                    </article>

                                <!-- Mini Post -->
                                    <article class="mini-post">
                                        <header>
                                            <h3><a href="#">Rutrum neque accumsan</a></h3>
                                            <time class="published" datetime="2015-10-19">October 19, 2015</time>
                                            <a href="#" class="author"><img src={% static 'images/avatar.jpg' %} alt="" /></a>
                                        </header>
                                        <a href="#" class="image"><img src={% static 'images/pic05.jpg' %} alt="" /></a>
                                    </article>

                                <!-- Mini Post -->
                                    <article class="mini-post">
                                        <header>
                                            <h3><a href="#">Odio congue mattis</a></h3>
                                            <time class="published" datetime="2015-10-18">October 18, 2015</time>
                                            <a href="#" class="author"><img src={% static 'images/avatar.jpg' %} alt="" /></a>
                                        </header>
                                        <a href="#" class="image"><img src={% static 'images/pic06.jpg' %} alt="" /></a>
                                    </article>

                                <!-- Mini Post -->
                                    <article class="mini-post">
                                        <header>
                                            <h3><a href="#">Enim nisl veroeros</a></h3>
                                            <time class="published" datetime="2015-10-17">October 17, 2015</time>
                                            <a href="#" class="author"><img src={% static 'images/avatar.jpg' %} alt="" /></a>
                                        </header>
                                        <a href="#" class="image"><img src={% static 'images/pic07.jpg' %} alt="" /></a>
                                    </article>
                            </div>
                        </section>

                    <!-- Posts List -->
                        <section>
                            <ul class="posts">
                                {% for content in contents_list.post_data %}
                                <li>
                                    <article>
                                        <header>
                                            <h3><a href="#">{{ content.title }}</a></h3>
                                            <time class="published" datetime="2015-10-20">{{ content.write_date }}</time>
                                        </header>
                                        <a href="#" class="image"><img src={% static 'images/pic08.jpg' %} alt="" /></a>
                                    </article>
                                </li>
                                {% endfor %}
                            </ul>
                        </section>

                    <!-- About -->
                        <section class="blurb">
                            <h2>About</h2>
                            <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod amet placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies.</p>
                            <ul class="actions">
                                <li><a href="#" class="button">Learn More</a></li>
                            </ul>
                        </section>

                    <!-- Footer -->
                        {% include 'base/footer.html' %}
                </section>
        </div>
</body>