{% load static %}
{% include 'base/base.html' %}
<body>
    <!-- Wrapper -->
        <div id="wrapper">
            <!-- Header -->
            {% include 'base/header.html' %}
            <!-- Menu -->
            {% include 'base/menu.html' %}
            <!-- Main -->
                <div id="main">
                    {% for content in contents_list.post_data %}
                    <!-- Post -->
                        <article class="post">
                            <header>
                                <div class="title">
                                    <h2><a href="/view/?id={{ content.id }}">{{ content.title }}</a></h2>
                                    <p>{{ content.category }}</p>
                                </div>
                                <div class="meta">
                                    <time class="published" datetime="2015-11-01">{{ content.write_date }}</time>
                                    <a href="#" class="author"><span class="name">KWAN</span><img src={% static 'images/avatar.jpg' %} alt="" /></a>
                                </div>
                            </header>
                            <!-- <a href="/view/?id={{ content.id }}" class="image featured"><img src={% static 'images/pic01.jpg' %} alt="" /></a> -->
                            <p>{{ content.context|safe|linebreaksbr }}</p>
                            <footer>
                                <ul class="actions">
                                    <li><a href="/view/?id={{ content.id }}" class="button big">Continue Reading</a></li>
                                </ul>
                                <ul class="stats">
                                    <li><a href="#">General</a></li>
                                    <li><a href="#" class="icon fa-heart">28</a></li>
                                    <li><a href="#" class="icon fa-comment">128</a></li>
                                </ul>
                            </footer>
                        </article>
                    {% endfor %}

                    <!-- Pagination -->
                        <ul class="actions pagination">
                            <li><a href="" class="disabled button big previous">Previous Page</a></li>
                            <li><a href="#" class="button big next">Next Page</a></li>
                        </ul>

                </div>
        {% include 'base/side.html' %}
        </div>
</body>