<style>
    #id_context_iframe {
        width:100% !important;
    }

    label {
        margin:20px 0px 10px 0px !important;
    }
</style>

{% include 'base/base.html' %}
<body>
    <!-- Wrapper -->
        <div id="wrapper">
            <!-- Header -->
            {% include 'base/header.html' %}
            <!-- Menu -->
            {% include 'base/menu.html' %}
            <!-- Main -->
                <div id="main">
                    <article class="post">
                    <!-- Post -->
                        <form class="write_form" method="post" action="/modify/">
                            <input name='id' type="hidden" value="{{ post_info.id }}"/>
			                {% csrf_token %}
                            <h2>WRITING POST</h2>
                            {{ form|safe }}
			                <input class="submit_button" type="submit" value="SUBMIT"/>
                        </form>
                    </article>
                </div>
        {% include 'base/side.html' %}
        </div>
    {% include 'base/write_guide.html' %}
</body>

<script>
    function set_select_data(_id, select_value) {
        var select_id = "#" + _id;
        jQuery(select_id).val(select_value);

        var selected_text = jQuery(select_id).children("option:selected").text();
        var input_activates = "select-options-" + jQuery(select_id).data("select-id");
        var ul_id = "#" + input_activates;

        jQuery("input[data-activates=" + input_activates + "]").val(selected_text);
        jQuery(ul_id).children("li").removeClass("active").removeClass("selected");
        jQuery(ul_id).children("li").each(function() {
            var span_text = jQuery(this).find("span").text();
            if(span_text === selected_text) {
                jQuery(this).addClass("active").addClass("selected");
            }
        });
    }

    jQuery("#id_title").val("{{ post_info.title }}");
    jQuery("#id_category").value = 4;
    jQuery("#id_context").html("{{ post_info.context }}");


    if ("{{ modified }}" === "True") {
        location.href='/post/';
    };
</script>