{% load static %}
{% include 'base/base.html' %}
<body class="single">
    <!-- Wrapper -->
        <div id="wrapper">
            <!-- Header -->
                {% include 'base/header.html' with user_info=user_info %}
            <!-- Menu -->
                {% include 'base/menu.html' %}
            <!-- Main -->
                <div id="main_view">
                    <!-- Post -->
                        <article class="post">
                            <header>
                                <div class="title">
                                    <h2><a href="#">{{ post.title }}</a></h2>
                                    <p>{{ post.category }}</p>
                                </div>
                                <div class="meta">
                                    <time class="published" datetime="2015-11-01">{{ post.write_date }}</time>
                                    <a href="/accounts/profile/?user_id={{ post.user_id }}" class="author"><span class="name">{{ post.nickname }}</span><img src={{ post.profile_image }} alt="" width="40px" height="40px"/></a>
                                </div>
                            </header>
                            <div class="post_context">
                                        <!--<span class="image featured"><img src={% static 'images/pic01.jpg' %} /></span>-->
                                        <p>{{ post.context|safe|linebreaksbr }}</p>
                            </div>

                            <footer>
                                <ul class="stats">
                                    {% if content.user_id == user_info.user_id %}<li><a href="/modify/?id={{ post.id }}">MODIFY</a></li>{% endif %}
                                    <li><div class="icon fa-heart" data-post="{{ post.id }}">{{ post.like }}</div></li>
                                    <li><div class="icon fa-comment">{{ post.comment_list | length }}</div></li>
                                </ul>
                            </footer>

                            <div class="comment_info">
                                <ul class="comments">
                                    {% for comment in post.comment_list %}
                                    <li class="comment">
                                        <div class="comment_profile">
                                            <img class="comment_profile_image" src="{{ comment.profile_image }}" width="100%" height="100%"/>
                                            <div class="comment_profile_nickname">{{ comment.nickname }}</div>
                                            <div class="comment_created_at">{{ comment.created_at }}</div>
                                        </div>
                                        <div class="comment_text">
                                            {{ comment.comment }}
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>

                                {% if user.is_authenticated %}
                                <form method="post" action="/write_comment/">
                                    {% csrf_token %}
                                    <div class="write_comment">
                                        <input type="hidden" name="post_id" value="{{ post.id }}">
                                        COMMENT
                                        <input type="text" name="comment_text">
                                    </div>
                                </form>
                                {% endif %}
                            </div>
                        </article>
                </div>
            <!-- Footer -->
                {% include 'base/footer.html' %}
        </div>
</body>

<script>
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    });

    jQuery(".fa-heart").on('click', function () {
        jQuery(this).css('color', 'red');
        var origin_like = jQuery(this).text();
        var increased_like = (origin_like * 1) + 1;
        jQuery(this).text(increased_like);

        // 디비 업데이트
        var post_data = {
            post_id : jQuery(this).data().post
        };

        var request = jQuery.ajax({
            type: "POST",
            url: "/increase_like/",
            data: JSON.stringify(post_data),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8'
        });

        request.done(function(result) {
        }).fail(function(err) {
            console.error(err.statusText);
        });
        jQuery(this).off('click');
    });
</script>