{% load static %}
{% include 'base/base.html' %}
<body class="single">
    <!-- Wrapper -->
        <div id="wrapper">
            <!-- Header -->
                {% include 'base/header.html' %}
            <!-- Menu -->
                {% include 'base/menu.html' %}
            <!-- Main -->
                <div id="main">
                    <!-- Post -->
                        <article class="post">
                            <header>
                                <div class="title">
                                    <h2><a href="#">{{ post.title }}</a></h2>
                                    <p>{{ post.category }}</p>
                                </div>
                                <div class="meta">
                                    <time class="published" datetime="2015-11-01">{{ post.write_date }}</time>
                                    <a href="/intro" class="author"><span class="name">KWAN</span><img src={% static 'images/avatar.jpg' %} alt=""/></a>
                                </div>
                            </header>
                            <!--<span class="image featured"><img src={% static 'images/pic01.jpg' %} /></span>-->
                            <p>{{ post.context|safe|linebreaksbr }}</p>
                            <footer>
                                <ul class="stats">
                                    <li><a href="#">General</a></li>
                                    <li><a href="#" class="icon fa-heart">{{ post.like }}</a></li>
                                    <li><a href="#" class="icon fa-comment">128</a></li>
                                </ul>
                            </footer>
                        </article>
                </div>
            <!-- Footer -->
                {% include 'base/footer.html' %}
        </div>
</body>