<style>
    #id_context_iframe {
        width:100% !important;
    }

    label {
        margin:20px 0px 10px 0px !important;
    }
</style>

{% include 'base/base.html' %}
<body>
    <!-- Wrapper -->
        <div id="wrapper">
            <!-- Header -->
            {% include 'base/header.html' %}
            <!-- Menu -->
            {% include 'base/menu.html' %}
            <!-- Main -->
                <div id="main">
                    <article class="post">
                    <!-- Post -->
                        <form class="write_form" method="post" action="/">
			                {% csrf_token %}
                            <h2>WRITING POST</h2>
                            {{ form|safe }}
			                <input class="submit_button" type="submit" value="SUBMIT"/>
                        </form>
                    </article>
                </div>
        {% include 'base/side.html' %}
        </div>
    {% include 'base/write_guide.html' %}
</body>
