{% load static %}
{% include 'base/base.html' %}
<style>
    .m-auto {
        margin: auto;
    }
</style>
<body>
    <!-- Wrapper -->
    <div id="wrapper">
        <form class="m-auto" action="{% url 'powerball_pattern' %}" method="post">
            {% csrf_token %}
            <label for="type">타입</label>
            <select name="type" id="type">
                <option value="powerball_even_odd" selected="selected">파워볼 홀짝</option>
                <option value="powerball_under_over">파워볼 언더오버</option>
                <option value="even_odd">일반볼합 홀짝</option>
                <option value="under_over">일반볼 언더오버</option>
            </select>
            <label for="date">날짜</label>
            <input type="date" id="date" name="date">
            <label for="pattern">패턴수</label>
            <input type="number" id="pattern" name="pattern">
            <input type="submit" value="패턴조회">
        </form>
    </div>
</body>
