{% load static %}
{% include 'base/base.html' %}
<style>
    .m-auto {
        margin: auto;
    }
</style>
<body>
    <!-- Wrapper -->
    <div id="wrapper">
        <form class="m-auto" action="{% url 'powerball_download' %}" method="post">
            {% csrf_token %}
            <input type="date" id="start-date" name="start-date">
            <label for="start-date">시작일</label>
            <input type="date" id="end-date" name="end-date">
            <label for="end-date">종료일</label>
            <!--<input type="date" id="target-date" name="target-date">
            <label for="target-date">다운로드 대상일</label>-->
            <input type="submit" value="다운로드">
        </form>
    </div>
</body>
